<template>
  <div class="bg-blue-100 h-full overflow-y-auto">
    <p class="p-1">
      {{ text }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'Sidebar',
  props: ['text']
}
</script>

<style scoped>

</style>