<template>
    <div class="h-full overflow-y-auto overflow-x-hidden">
        <table class="table-fixed w-full">
            <thead>
                <tr>
                    <th class="bg-blue-100 text-blue-900" v-for="(theader, index) in tHeadersFiltereds" :key="index">{{ theader }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in items" :key="index">
                    <td class="border border-blue-100" v-for="(tHeader, iTheader) in tHeaders" :key="index+'-'+iTheader">{{item[tHeader]}}</td>
                </tr>
            </tbody>
        </table>
    
    </div>
</template>

<script>
export default {
    data() {
        return {
            rowsByDefault: 100,
            tHeaders: [],
            items: []
        }
    },
    computed: {
        tHeadersFiltereds() {
            return this.tHeaders.map(tHeader => {
                const tHeaderWithSpaces = tHeader.replace("_", " ");
                return tHeaderWithSpaces.charAt(0).toUpperCase() + tHeaderWithSpaces.slice(1);
            });
        }
    },
    async beforeMount() {
        this.items = await fetch(this.urlFirebase).then(itemsFromFirebase => itemsFromFirebase.json())

        if (this.items.length > 0) {
            this.tHeaders = Object.keys(this.items[0]);
            // Fill the data with a - creating empty objects
            const itemDefault = this.tHeaders.reduce((previousValue, key) => ({ ...previousValue, [key]: '-' }), {})
            for (let i = 0; i < this.rowsByDefault; i++) {
                this.items.push(itemDefault);
            }
        }
    },
    props: ["urlFirebase"]
}
</script>

<style>
th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>