<template>
  <Navigation />
  <div class="px-2 py-1 flex flex-row flex-1 gap-1 overflow-y-auto overflow-x-hidden">
    <aside class="w-5">
      <Sidebar
        :text="text"
      />
    </aside>
    <section class="flex-1">
      <Table 
        :urlFirebase="urlFirebase"
      />
    </section>
  </div>
</template>
<script setup>
import Navigation from './components/Navigation.vue';
import Sidebar from './components/Sidebar.vue';
import Table from './components/Table.vue';

const text = `
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique luctus dui, in molestie arcu. Vivamus cursus magna non enim lacinia ornare. Donec placerat elementum nulla, id lobortis libero scelerisque vitae. Morbi fringilla purus quis lorem ullamcorper, nec tempus magna sagittis. Donec consequat erat vitae libero porttitor aliquet. In aliquam quam orci, in vulputate massa ullamcorper ut. Fusce non efficitur ex. Duis convallis nulla vel justo condimentum, id convallis odio vestibulum. Sed posuere mi nunc, vel luctus justo ornare eu. In id varius lorem, quis congue tortor. Curabitur et est ut diam aliquet tristique.
Nulla suscipit eleifend ante, vel aliquet justo ultricies at. Proin sit amet felis vel neque elementum sodales. Vestibulum luctus ut ligula a sagittis. Proin sit amet vestibulum risus. Sed nisi elit, laoreet eget erat eu, condimentum molestie metus. Morbi in magna pellentesque, imperdiet neque a, fermentum ipsum. Aenean porta, tellus vitae commodo imperdiet, purus tellus aliquam mauris, ut efficitur lectus est et lorem. Mauris laoreet eu mauris a commodo. In venenatis purus posuere semper porta. Curabitur convallis magna lectus, sed aliquet turpis convallis eget. Aliquam aliquam orci a justo vulputate tincidunt. Quisque nisl arcu, lacinia id sem ac, tempus viverra dui.
Etiam ac tempus nunc, in facilisis mi. In turpis ipsum, mollis non convallis non, lacinia sit amet erat. Maecenas fringilla, purus quis aliquet fringilla, neque arcu rhoncus magna, at lacinia velit ipsum vel sem. Sed egestas euismod risus ac pharetra. Vestibulum nisi nibh, tempor at dapibus vel, pharetra in enim. In sagittis rhoncus lorem ut dignissim. Curabitur feugiat condimentum felis a blandit.
Sed ac eros iaculis ex hendrerit fermentum in ut sem. Proin eleifend nibh at dolor scelerisque, in ullamcorper leo efficitur. Fusce tincidunt sed arcu sed fermentum. Cras velit nisl, cursus in neque sed, dignissim egestas felis. Etiam malesuada lobortis sem, sed sagittis urna condimentum eu. Integer sed dictum velit, sed hendrerit ligula. Vestibulum ipsum ante, feugiat quis blandit eget, aliquam vitae nunc. Nam at efficitur mi. Duis quis commodo urna. Phasellus varius justo tellus, sed convallis elit lobortis eget. Maecenas ut enim molestie turpis rhoncus suscipit eget at lorem. Pellentesque est lectus, faucibus eu pretium at, tempus suscipit orci. Curabitur convallis aliquam sapien eu ornare. In sagittis blandit lacus, quis feugiat sapien dapibus nec. Fusce vel tincidunt lacus, vel porta velit.
`;

const urlFirebase = 'https://s2grupo-b4529-default-rtdb.europe-west1.firebasedatabase.app/users.json';

</script> 
<style>
html,body {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;   
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

</style>
